@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
header{
background: -webkit-linear-gradient(left, #9400d3, #9932cc, #ac34e7);
	height: 20vh;
	background-size: auto;
	background-position: center;
	  background-repeat: no-repeat;
  background-size: 1500px 500px;
}

ul{
	float:  right;
	list-style-type: none;
	margin-top: 25px;
	margin-right: 20px;
}
ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid #fff;
	transition: 0.6s ease;
}
ul li a:hover{
	background-color: #fff;
	color: #000;
}

.logo img{
	float:  left;
	width:  150px;
	height: auto;
}
.main{
	max-width: 1500px;
	margin: auto;
}
main{
	background-color: #D3D3D3;
	background-image: url();
	width: auto;
	height: 500px;
	background-size: auto;
	background-position: center;
	  background-repeat: no-repeat;
  background-size: 1500px 1500px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
button{
		margin-right: 20px;
		position: relative;
  display: inline-block;
  color: #fff;
  padding: 12px 32px;
  background: linear-gradient(90deg, #6616d0, #ac34e7);
  border-radius: 25px;
  margin: 10px;
  font-size: 16px;
  text-decoration: none;
  box-shadow: 3px 5px rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(0,0,0,0.1);
  overflow: hidden;
  cursor: pointer;
}

button:hover{
	background-color: #ac34e7;
	color: yellow;
}

h1{
	font-size: 25px;
	margin-right: 100px;
}
section{
	width: auto;
}
img {
  width: 300px;
  height: auto;
}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto auto;
	background-color: #D3D3D3;
	padding: 10px;
	border-radius: 10px;
  }
  .grid-item {
	background-color: #fff;
	border: 1px solid #9932cc;
	padding: 20px;
	font-size: 16px;
	text-align: auto;
		width: 35%;
		margin: 30px auto;
		background: #fff;
		padding: 20px;
  }